<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/bmo-bounce.gif">
  <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet'> <!-- Navigation bar -->
  <link href='https://fonts.googleapis.com/css?family=Overpass+Mono' rel='stylesheet'> <!-- Everything else -->
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <title>Ajo Eili Sylvest - Blog Post</title>

</head>
<body class="blog-post-page">
<div class="blog-post">
  <article class="blog-info">
    <a th:href="@{'blog/' + ${post.slug}}">
      <img th:src="${post.imagePath}" th:alt="${post.imageAltText}">
      <div class="blog-info-content">
        <h1 th:text="${post.title}"></h1>
        <small th:text="'published: ' + ${post.date}"></small>
      </div>
    </a>
  </article>

  <article class="blog-post-text">
    <p>Welcome to the first post of my homemade blog!
      <br>This was so much fun to make, and although right now it is very simple (I am hardcoding all the blog posts and adding them to a list individually) it will continue to be a work in progress as I grow my skills.

      <br>I am working on this website in my monthly coding club, and for now this is my only project.
      <br>During the summer I will jump into hardware and try and build my own small ESP32 game console and code a tiny game in C (which is unfamiliar territory).
      <br>
    </p>
  </article>


  <!-- Back to Blog Button -->
  <a class="back-btn" th:href="@{/blog}">← Back to Blog</a>
</div>
</div>
</body>
</html>
